<form action="{% url 'createrecommendation' %}" method="POST">
    {% csrf_token %}
    <button type="submit">저장하기</button><br><br>
    <input type="text" name="title" value=""> 교수 추천서 관련 문의 드립니다.<br><br>
    안녕하세요, 교수님 <input name="sending" type="text" value=""> 입니다.<br>
    다름이 아니라 얼마 전, <input name="event" type="text" value="">에 지원하게 되었습니다.
    <input name="intro" type="text" value="">해당 활동을 위해서는 교수님의 추천서가 필요해 이렇게 연락드리게 되었습니다.<br>
    <input name="detail" type="text" value="">
    <br><br>
    바쁘신 와중에 시간 내주셔서 감사합니다.<br>
    항상 건강 유의하시고, 행복한 하루 되시길 바랍니다.<br>
    <input name="name" type="text" value=""> 올림    
</form>